name: terraform-destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to destroy"
        type: choice
        options:
          - dev
          - prod
        default: dev

permissions:
  contents: read

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login (service principal)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          auth-type: service_principal


      - name: Terraform destroy
        uses: JT-Engineering-Dev/terraform-orchestrator-action@v0.2.0
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_API_TOKEN: ${{ secrets.TF_API_TOKEN }}
        with:
          working-directory: terraform
          workspace: ${{ github.event.inputs.environment }}
          var-file: environments/${{ github.event.inputs.environment }}.tfvars
          command: destroy
          backend-config-file: backend.config
